# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dataSources.xml
# Artifacts and libraries
/artifacts
/libraries
# Local android preferences
/androidTestResultsUserPreferences.xml
# Other local configs
/compiler.xml
/misc.xml
/uiDesigner.xml
/.name
/kotlinc.xml
/vcs.xml
